*{
    margin: 0;
    padding: 0;
}
.post{
    width: 80vw;
    margin: 3vh auto;
}
.post-trending{
    display: block;
    position: absolute;
    top:34%;
    padding: 4px 8px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}
.post-image{
    width: 35vw;
    height: 40vh;
}
.post-image>img{
    width: 100%;
    height: 100%;
}

.post-image:hover .post-trending{
    
    animation-name: jumpByYaqo;
    animation-duration: 3s;
    animation-timing-function: ease;
}
@keyframes jumpByYaqo{
    0%{
        transform: translate(0px,0px) scale(1,1) rotate(0deg);
    }
    50%{
        transform: translate(250px,-200px) scale(8,8) rotate(360deg);
    }
    100%{
        transform: translate(0px,0px) scale(1,1) rotate(-360deg);
    }
}


.postdate-and-author{
    width: fit-content;
    margin-top: 10px;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: gray;
}

.post-title{
    width: 35vw;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 1.6em;
}
.post-text{
    width: 30vw;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}