<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch Weekend Task/Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/style/base/grid.css">
    <link rel="stylesheet" href="../assets/style/layout/menu.css">
    <link rel="stylesheet" href="../assets/style/pages/books.css">
    <link rel="stylesheet" href="../assets/style/components/card.css">
    <link rel="stylesheet" href="../assets/style/components/spinner.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-part">
                <i id="navbar-left-logo" class="fa-solid fa-bars"></i>
                <h3>React App | routing.json-server</h3>
            </div>

            <div class="navbar-part">
                <ul>
                    <li><a href="main.html">Home</a></li>
                    <li><a href="books.html">Books</a></li>
                    <li><a href="">Admin Panel</a></li>
                    <li><a href="">Basket</a></li>
                </ul>

            </div>


        </nav>
    </header>

    <main>



        <section class="books">

            <div id="spinner-loading" class="spinner-loading">

            </div>

            <div class="operations">
                <div class="particular-features">

                    <div class="search-box">
                        <input placeholder="Search:" id="search-box-input" class="search-box-input" type="text">
                    </div>
                    <button id="sort-by-year" class="sort-by-year">Sort by Year</button>
                    <span id="alert"></span>
                </div>

                <div class="filterByGenre">
                    <select id="filter-by-genre">
                        <option value="" selected>All</option>
                        <option value="Classic">Classic</option>
                        <option value="Mystery">Mystery</option>
                        <option value="Philosophy">Philosophy</option>
                        <option value="Fiction">Fiction</option>
                        <option value="Dystopian">Dystopian</option>
                    </select>
                </div>

            </div>



            <div id="book-cards" class="row">
                <!-- <div class="col-3">
                    <div class="card">

                        <div class="card-image-box">
                            <img src="https://m.media-amazon.com/images/I/51rNUQZumQL._AC_UF1000,1000_QL80_.jpg" class="card-image">
                        </div>

                        <h3 class="card-title">The Observer</h3>

                        <button class="card-button card-edit-button">Edit Button</button>
                        <button class="card-button card-delete-button">Delete Button</button>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">

                        <div class="card-image-box">
                            <img src="https://m.media-amazon.com/images/I/61BvkqoxLxL._AC_UF894,1000_QL80_.jpg" class="card-image">
                        </div>

                        <h3 class="card-title">The Observer</h3>

                        <button class="card-button card-edit-button">Edit Button</button>
                        <button class="card-button card-delete-button">Delete Button</button>
                    </div>
                </div> -->

            </div>

        </section>

    </main>



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../assets/scripts/books.js"></script>
</body>

</html>