$light-green-color :#5FCF80;
$green-color: #309c50;
$footer-bg-color: #F9FAF9;
$footer-end-bg-color: #EEF0EF;
$header-transition: 0.4s;
$dropdown-transition: 0.5s;
$footer-transition: 0.5s;
$hero-transition: 0.45s;
$navbar-menu-li-color: #212529;
$home-advantages-text-color: #444;