* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/static/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/static/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/static/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/static/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/static/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/static/OpenSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/Open_Sans/static/OpenSansCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/Open_Sans/static/OpenSansCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/Open_Sans/static/OpenSansCondensed-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/Open_Sans/static/OpenSansCondensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/Open_Sans/static/OpenSansCondensed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/Open_Sans/static/OpenSansCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/Open_Sans/static/OpenSansCondensed-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/Open_Sans/static/OpenSansCondensed-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/Open_Sans/OpenSansCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/Open_Sans/OpenSansCondensed-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/Open_Sans/OpenSansSemiCondensed-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/Open_Sans/OpenSansCondensed-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/Open_Sans/OpenSansCondensed-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/Open_Sans/OpenSansSemiCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/Open_Sans/OpenSansSemiCondensed-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/Open_Sans/OpenSansSemiCondensed-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/Open_Sans/OpenSansSemiCondensed-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/Open_Sans/OpenSansSemiCondensed-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/Open_Sans/OpenSansSemiCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/Open_Sans/OpenSansSemiCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/Open_Sans/OpenSansSemiCondensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/Open_Sans/OpenSansSemiCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/Open_Sans/OpenSansSemiCondensed-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/Open_Sans/OpenSansSemiCondensed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
footer .company-location,
footer .company-number,
footer .company-email {
  font-family: "Raleway";
  font-weight: 400;
  color: #777;
  font-size: 14px;
}

footer .company-number,
footer .company-email {
  font-weight: 700;
}

header {
  background-color: #fff;
  width: 100%;
}

nav .nav-main-row {
  width: 100%;
}
nav .nav-row {
  margin: 8px 0 0 0;
}
nav .nav-row .menu-button {
  position: relative;
  display: none;
}
nav .nav-row .menu-button .menu-icon {
  position: absolute;
  top: -20px;
}
nav .nav-row .site-title {
  padding-top: 10px;
}
nav .nav-row .site-title a {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 600;
  color: #5FCF80;
  font-size: 30px;
}
nav .nav-row .site-menu {
  padding: 8px 0 0 0;
}
nav .nav-row .site-menu li {
  list-style-type: none;
  padding: 10px 0px 10px 30px;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 500;
  transition: 0.4s;
  cursor: pointer;
}
nav .nav-row .site-menu li:hover {
  color: #5FCF80;
}
nav .nav-row .site-menu .get-started-btn {
  background-color: #5FCF80;
  margin: 0px 0px 0px 22px;
  padding: 8px 25px;
  border-radius: 50px;
  border-color: transparent;
  color: #fff;
}

@media screen and (max-width: 1015px) {
  nav .nav-row .menu-button {
    display: inline-block;
  }
  nav .nav-row .site-menu li:not(.get-started-btn-item) {
    display: none;
  }
  nav .nav-row .site-menu .get-started-btn-item {
    padding-left: 0px;
  }
  nav .nav-row .site-menu .get-started-btn-item .get-started-btn {
    margin-left: 0px;
  }
}
@media screen and (max-width: 576px) {
  nav .nav-main-row .nav-row {
    width: 95% !important;
  }
}
footer {
  background-color: #F9FAF9;
}
footer .general-info-row {
  padding: 20px 0 70px 0;
}
footer .company-title {
  font-family: "Raleway";
  font-size: 28px;
  font-weight: 500;
  color: #37423B;
}
footer .company-number,
footer .company-email {
  margin-bottom: 5px;
}
footer .info-column-name {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
  color: #444;
}
footer .info-column-list {
  padding-left: 5px;
  list-style-type: none;
}
footer .info-column-list li {
  padding: 0 0 10px 0;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #777;
  transition: 0.5s;
  cursor: pointer;
}
footer .info-column-list li i {
  margin-right: 8px;
  color: #5FCF80;
}
footer .info-column-list li:hover {
  color: #5FCF80;
}
footer .info-column-text {
  font-family: "Open Sans";
  font-size: 15px;
  color: #37423B;
}
footer .footer-end {
  background-color: #EEF0EF;
  padding: 15px 0;
}
footer .footer-end .copyright-text {
  font-size: 14px;
  display: block;
}
footer .footer-end .author-final-info {
  font-size: 13px;
  display: block;
}
footer .footer-end .author-final-info .author-company-link {
  color: #5FCF80;
  text-decoration: none;
  transition: 0.5s;
}
footer .footer-end .author-final-info .author-company-link:hover {
  color: rgb(148, 210, 167);
}
footer .footer-end .footer-links {
  display: flex;
  justify-content: center;
  padding: 0;
}
footer .footer-end .footer-links a .circle-icon {
  color: #5FCF80;
  transition: 0.5s;
}
footer .footer-end .footer-links a .icon {
  color: white;
}
footer .footer-end .footer-links a:hover .circle-icon {
  color: #309c50;
}

@media screen and (max-width: 768px) {
  .author {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .author {
    margin: 10px 0;
  }
}
.input-with-action-button {
  margin-top: 30px;
  position: relative;
}
.input-with-action-button .main-input {
  width: 95%;
  padding: 6px 8px;
  border-radius: 20px;
  border: 1px solid #E8EDEA;
}
.input-with-action-button .action-button {
  position: absolute;
  right: 5%;
  padding: 8px 15px;
  background-color: #5FCF80;
  color: white;
  border: none;
  border-radius: 50px;
  transition: 0.5s;
}
.input-with-action-button .action-button:hover {
  background-color: #309c50;
}/*# sourceMappingURL=main.css.map */