header{
    background-color: rgb(44, 62, 80);
    height: 12.8vh;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.title-link,[class|="link"]{
    cursor: pointer;
    color: white;
    font-size: 1.16em;
    font-family: MontserratBold700;
}
.title{
    color: white;
    font-size: 1.5em;
    font-family: MontserratBold700;
}

.hyperlinks{
    display: flex;
}
[class|="link"]{
    display: block;
    padding: 16px;
    border-radius: 8px;
    font-size: 1em;
}
[class|="link"]:hover{
    color: #1ABC9C;
    transition: 0.3s;
}
#selected-menu{  /*  heleki js kecmemisik deyene #selected-menu sadece hansisa link-de default saxlanilir.Bu layihede hec bir linke salinmayib.JS-den sonra salinacaq  */
    background-color: #1ABC9C;
}

.hero{
    background-color: #1ABC9C;
    padding: 180px 0 50px 0;
}

#avatar-row{
    justify-content: center;
}

.authorphoto{
    width: 240px;
    height: 254px;
    margin: 0 auto;
}
.authorphoto img{
    width: 100%;
    height: 100%;
}
.hero-title{
    font-size: 64px;
   text-align: center;
    
}

.star-components{
    width: fit-content;
    margin: 20px auto;
    white-space: nowrap;
}

.star{
    width: 33px;
    height: 32px;
    display: inline-block;
    margin: 0 16px;
}


.star .star-icon path{
    fill: white;
}
.line{
    width: 112px;
    height: 4px;
    background-color: white;
    display: inline-block;
    margin-bottom: 1.5vh;
    border-radius: 10px;
}

.authorinfo{
    margin: 4vh 0;
    font-family: LatoRegular400;
    font-size: 24px;
    text-align: center;
    color: white;
}

.portfolio{
    padding: 80px 0 70px 0;
}

#portfolio-row{
    justify-content: center;
}

#portfolio-title{
    color: rgb(44, 62, 80);
    text-align: center;
    font-size: 48px;
}

#second-star-path{
    fill: black;
}

.line-black{
    background-color: black;
}

.card{
    width: 100%;
    height: 288px;
   
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card::after{
    content: '+';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #1ABC9C;
    visibility: hidden;
    position: relative;
    bottom: 101.5%;
    text-align: center;
    font-size: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: bold;
    transition: 300ms;
    opacity: 0;
}
.card:hover::after{
    visibility: visible;
    opacity: 0.9;
}

.card-row{
    margin-top: 30px;
}

.about{
    padding: 80px 0 0 0;
    background-color: #1ABC9C;
}
.aboutrow{
    justify-content: center;
}
.about-title{
    text-align: center;
    font-size: 3em;
}

.about-text{
    font-size: 1.25em;
    color: white;
    font-family:  LatoLight300;
    font-weight: bold;
}

.download-row{
    justify-content: center;
}

.download-box{
    
    padding: 15px 40px;
    color: white;
    margin: 5vh 0;
    border: 2px solid white;
    border-radius: 8px;
    font-family:  LatoLight300;
    font-weight: bold;
    font-size: 1.12em;
    white-space: nowrap;
}

.download-box:hover{
    background-color: white;
    transition: 0.2s;
    color: black;
}

.contact{
    padding: 70px 0 60px 0;
}

.contactrow{
    justify-content: center;
}

.contact-title{
    color: black;
    text-align: center;
    font-size: 3em;
}

.formrow{
    justify-content: center;
}

.form{
    margin-top: 2vh;
}

.form-label{
    color: gray;
    transition: 0.3s;
}

.form-input{
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 12px 0;
    border: none;
    border-bottom: 1px solid #1ABC9C;
    font-size: 1.5em;
    
}
.form-input:focus+.form-label{
    font-size: 1.2em;
   
}

#message-input{
    width: 100%;
    height: 15vh;
    border: none;
    border-bottom: 1px solid #1ABC9C;
}
.send-button{
    margin-top: 10px;
    padding: 20px 30px;
    background-color: #1ABC9C;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: LatoRegular400;
    font-size: 20px;
    opacity: 0.8;
}

footer{
    height: 25vh;
    background-color: #2c3e50;
}

.footer-info{
    font-family: LatoRegular400;
    color: white;
    margin-top: 4vh;
    font-size: 1.1em;
}

.location-info-zip{
    padding: 0 10px;
    font-size: 1.1em;
}
.footerrow{
    padding: 60px 0 50px 50px;
}

.footer-title{
    margin-left: 15px;
}

.footer-icon{
    box-sizing: content-box;
    display: inline-block;
    width: 10px;
    height: 20px;
    margin-left: 1vw;
    padding: 15px;
    border: 2px solid white;
    border-radius: 50%;

}
.footer-icon:hover{
    background-color: white;
}
.footer-icon:hover path{
    fill: black;
}
.footer-icon svg,.footer-icon path{
    width: 100%;
}
.footer-icon path{
    fill: white;
}
.freelancer-info{
    padding: 0 15px;
}
.specifictext-start-bs a{
    color: #1ABC9C;
}
.specifictext-start-bs a:hover{
    opacity: 0.8;
}
.copyright{
    height: 7vh;
    background-color: #1A252F;
    padding-top: 2vh;
}
.copyrightrow{
    justify-content: center;
}
.copyright-text{
    color: white;
    display: inline-block;
    margin-left: 6vw;
}

@media only screen and (max-width:768px){
    .hyperlinks{
        display: none;
    }

}