header{
    background-color: rgb(44, 62, 80);
    height: 12.8vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.title-link,[class|="link"]{
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    font-family: MontserratBold700;
}
.title{
    color: white;
    font-size: 1.5em;
    font-family: MontserratBold700;
}

.hyperlinks{
    display: flex;
}
[class|="link"]{
    display: block;
    padding: 16px;
    border-radius: 8px;
    font-size: 1em;
}
[class|="link"]:hover{
    color: #1ABC9C;
    transition: 0.3s;
}
#selected-menu{  /*  heleki js kecmemisik deyene #selected-menu sadece hansisa link-de default saxlanilir.Bu layihede hec bir linke salinmayib.JS-den sonra salinacaq  */
    background-color: #1ABC9C;
}

.hero{
    background-color: #1ABC9C;
    padding: 70px 0 50px 0;
}

#avatar-row{
    justify-content: center;
}

.authorphoto{
    width: 240px;
    height: 254px;
    margin: 0 auto;
}
.authorphoto img{
    width: 100%;
    height: 100%;
}
.hero-title{
    font-size: 64px;
   text-align: center;
    
}

.star-components{
    width: fit-content;
    margin: 20px auto;
    white-space: nowrap;
}

.star{
    width: 33px;
    height: 32px;
    display: inline-block;
    margin: 0 16px;
}


.star .star-icon path{
    fill: white;
}
.line{
    width: 112px;
    height: 4px;
    background-color: white;
    display: inline-block;
    margin-bottom: 1.5vh;
    border-radius: 10px;
}

.authorinfo{
    margin: 4vh 0;
    font-family: LatoRegular400;
    font-size: 24px;
    text-align: center;
    color: white;
}

.portfolio{
    padding: 80px 0 70px 0;
}

#portfolio-row{
    justify-content: center;
}

#portfolio-title{
    color: rgb(44, 62, 80);
    text-align: center;
    font-size: 48px;
}

#second-star-path{
    fill: black;
}

.line-black{
    background-color: black;
}

.card{
    width: 100%;
    height: 288px;
    
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-row{
    margin-top: 30px;
}

@media only screen and (max-width:768px){
    .hyperlinks{
        display: none;
    }

}