header{
    background-color: rgb(44, 62, 80);
    height: 12.8vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.title-link,[class|="link"]{
    color: white;
    font-size: 1.5em;
    font-family: MontserratBold700;
}

.hyperlinks{
    display: flex;
}
[class|="link"]{
    display: block;
    padding: 16px;
    border-radius: 8px;
    font-size: 1em;
}
#selected-menu{  /*  heleki js kecmemisik deyene #selected-menu sadece hansisa link-de default saxlanilir  */
    background-color: #1ABC9C;
}

@media only screen and (max-width:768px){
    .hyperlinks{
        display: none;
    }

}