<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentor</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link href="../assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="../assets/vendors/bootstrap/dist/js/bootstrap.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav>



            <div class="row justify-content-center nav-main-row">
                <div class="col-8 col-xxl-8 col-xl-10  col-lg-11 col-md-10 col-sm-11   d-flex justify-content-between  nav-row">
                    <h1 class="site-title"><a href="#site-title" class="site-title-link">MENTOR</a></h1>


                    <div class="menu-started">

                        <ul class="d-flex align-items-center site-menu">
                            <li>Home</li>
                            <li>About</li>
                            <li>Courses</li>
                            <li>Trainers</li>
                            <li>Events</li>
                            <li>Pricing</li>
                            <li>Drop Down</li>
                            <li>Contact</li>
                            <li class="get-started-btn-item"> <button class="get-started-btn">Get Started</button>
                                <span class="menu-button">
                                    <i class="fa-solid fa-bars fa-2x menu-icon"></i>
                                </span>
                            </li>
                        </ul>


                    </div>



                </div>

            </div>

        </nav>
    </header>
</body>

</html>