<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentor</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link href="../assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="../assets/vendors/bootstrap/dist/js/bootstrap.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav>



            <div class="row justify-content-center nav-main-row">
                <div
                    class="col-8 col-xxl-8 col-xl-10  col-lg-11 col-md-10 col-sm-11   d-flex justify-content-between  nav-row">
                    <h1 class="site-title"><a href="#site-title" class="site-title-link">MENTOR</a></h1>


                    <div class="menu-started">

                        <ul class="d-flex align-items-center site-menu">
                            <li class="site-menu-item">Home</li>
                            <li class="site-menu-item">About</li>
                            <li class="site-menu-item">Courses</li>
                            <li class="site-menu-item">Trainers</li>
                            <li class="site-menu-item">Events</li>
                            <li class="site-menu-item">Pricing</li>
                            <li class="site-menu-item hover-dropdown">Drop Down <i class="fa-solid fa-angle-down"></i>

                                <ul class="d-flex flex-column  site-menu dropdown dropdown-vertical">
                                    <li class="dropdown-item">Drop Down 1</li>
                                    <li class="dropdown-item hover-dropdown">Deep Drop Down <i
                                            class="fa-solid fa-angle-right"></i>

                                        <ul class="d-flex flex-column  site-menu dropdown dropdown-horizontal">
                                            <li class="dropdown-item">Deep Drop Down 1</li>
                                            <li class="dropdown-item">Deep Drop Down 2
                                            </li>
                                            <li class="dropdown-item">Deep Drop Down 3</li>
                                            <li class="dropdown-item">Deep Drop Down 4</li>
                                            <li class="dropdown-item">Deep Drop Down 5</li>
                                        </ul>

                                    </li>
                                    <li class="dropdown-item">Drop Down 2</li>
                                    <li class="dropdown-item">Drop Down 3</li>
                                    <li class="dropdown-item">Drop Down 4</li>
                                </ul>

                            </li>

                            <li>Contact</li>
                            <li class="get-started-btn-item"> <button class="get-started-btn">Get Started</button>
                                <span class="menu-button">
                                    <i class="fa-solid fa-bars fa-2x menu-icon"></i>
                                </span>
                            </li>
                        </ul>








                    </div>



                </div>

            </div>

        </nav>
    </header>

    <main>
        <section class="home">

            <div id="image-box">



                <div class="black-overlay">

                </div>

                <div class="hero-info">

                    <div class="hero-info-text-bold">
                        Learning Today,
                    </div>
                    <div class="hero-info-text-bold">
                        Leading Tomorrow
                    </div>

                    <div class="hero-info-text-ordinary">
                        We are team of talented designers making websites with Bootstrap
                    </div>

                    <button class="hero-button">
                        Get Started
                    </button>

                </div>

            </div>

            <div class="advantages">

                <div class="container">
                    <div class="row advantages-row">


                        <div class="col-12 col-lg-6 col-md-12 col-sm-12">

                            <div class="advantages-title">
                                Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.

                            </div>
                            <div class="advantages-sub-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </div>

                            <div class="advantages-list">
                                <ul>
                                    <li> <i class="fa-regular fa-circle-check"></i>Lorem, ipsum dolor sit amet
                                        consectetur adipisicing elit. Error, amet.</li>
                                    <li> <i class="fa-regular fa-circle-check"></i>Ad minus tenetur quas porro, sed
                                        possimus itaque nemo quidem.</li>
                                    <li> <i class="fa-regular fa-circle-check"></i>Ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat. Duis aute irure dolor
                                        in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat
                                        nulla pariatur.</li>
                                </ul>
                            </div>

                            <div class="advantages-ending-text">
                                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate
                            </div>

                        </div>
                        <div class="col-12 col-lg-6 col-md-12 col-sm-12">

                            <div class="about-image">

                                <img src="../assets/images/about.jpg" alt="">

                            </div>




                        </div>

                    </div>

                </div>

            </div>

            <div class="statistics">
                <div class="container">
                    <div class="row">

                        <div class="col-6 col-xl-3 col-lg-3 col-md-6   statistic-data">
                            <div class="number">1232</div>
                            <div class="statistic-data-title">Students</div>
                        </div>
                        <div class="col-6 col-xl-3 col-lg-3 col-md-6 statistic-data">
                            <div class="number">64</div>
                            <div class="statistic-data-title">Courses</div>
                        </div>
                        <div class="col-6 col-xl-3 col-lg-3 col-md-6  statistic-data">
                            <div class="number">42</div>
                            <div class="statistic-data-title">Events</div>
                        </div>
                        <div class="col-6 col-xl-3 col-lg-3 col-md-6 statistic-data">
                            <div class="number">15</div>
                            <div class="statistic-data-title">Trainers</div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="big-logo-cards">
                <div class="container">
                    <div class="row">

                        <div class="col-12 col-xxl-4 col-xl-4 col-lg-4 ">
                            <div class="why-mentor">
                                <h1 class="why-mentor-title">Why Choose Mentor?</h1>
                                <div class="why-mentor-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                                    Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel
                                    necessitatibus
                                    optio ad corporis.
                                </div>
                                <div class="why-mentor-button-part">
                                    <button class="why-mentor-button">Learn More <i
                                            class="fa-solid fa-angle-right"></i></button>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-xxl-8 col-xl-8 col-lg-8 col-md-12">
                            <div class="row logo-cards">
                                <div class="col-12 col-xxl-4 col-xl-4 col-lg-12">
                                    <div class="big-logo-card">
                                        <div class="logo-sector">
                                            <span class="fa-stack fa-2x full-icon">
                                                <i class="fa-solid fa-circle fa-stack-2x circle"></i>
                                                <i class="fa-solid fa-receipt fa-stack-1x icon "></i>
                                            </span>

                                        </div>
                                        <div class="card-title">
                                            Corporis voluptates sit
                                        </div>
                                        <div class="card-text">
                                            Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut
                                            aliquip
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-xxl-4 col-xl-4 col-lg-12">
                                    <div class="big-logo-card">
                                        <div class="logo-sector">
                                            <span class="fa-stack fa-2x full-icon">
                                                <i class="fa-solid fa-circle fa-stack-2x circle"></i>
                                                <i class="fa-solid fa-cube fa-stack-1x icon "></i>
                                            </span>

                                        </div>
                                        <div class="card-title">
                                            Ullamco laboris ladore pan
                                        </div>
                                        <div class="card-text">
                                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                            deserunt
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-xxl-4 col-xl-4 col-lg-12">
                                    <div class="big-logo-card">
                                        <div class="logo-sector">
                                            <span class="fa-stack fa-2x full-icon">
                                                <i class="fa-solid fa-circle fa-stack-2x circle"></i>
                                                <i class="fa-solid fa-images fa-stack-1x icon "></i>
                                            </span>

                                        </div>
                                        <div class="card-title">
                                            Labore consequatur suscipit
                                        </div>
                                        <div class="card-text">
                                            Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis
                                            facere
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="categories">
                

                    
                        <div class="row">
                            <div class="col-12 col-xxl-3 col-xl-3  col-lg-3 col-md-4 col-sm-12  category-item"> <i style="color: #FFC03C;" class="fa-solid fa-store fa-2x"></i> Lorem Ipsum</div>
                            <div class="col-12 col-xxl-3 col-xl-3  col-lg-3 col-md-4 col-sm-12   category-item"><i style="color: #5578FF;" class="fa-solid fa-chart-simple fa-2x"></i> Dolor Sitema</div>
                            <div class="col-12 col-xxl-3 col-xl-3  col-lg-3 col-md-4 col-sm-12    category-item"><i style="color: #E80368;" class="fa-solid fa-calendar fa-2x"></i> Sed perspiciatis</div>
                            <div class="col-12 col-xxl-3 col-xl-3  col-lg-3 col-md-4 col-sm-12    category-item"><i style="color: #E361FF;" class="fa-solid fa-brush fa-2x"></i> Magni Dolores</div>
                        
                        
                            <div class="col-12 col-xxl-3 col-xl-3  col-lg-3 col-md-4 col-sm-12   category-item"> <i style="color: #FFC03C;" class="fa-solid fa-database fa-2x"></i> Lorem Ipsum</div>
                            <div class="col-12 col-xxl-3 col-xl-3  col-lg-3 col-md-4 col-sm-12   category-item"><i style="color: #5578FF;" class="fa-brands fa-discourse fa-2x"></i> Dolor Sitema</div>
                            <div class="col-12 col-xxl-3 col-xl-3  col-lg-3 col-md-4 col-sm-12   category-item"><i style="color: #E80368;" class="fa-solid fa-file fa-2x"></i> Sed perspiciatis</div>
                            <div class="col-12 col-xxl-3 col-xl-3  col-lg-3 col-md-4 col-sm-12   category-item"><i style="color: #E361FF;" class="fa-regular fa-money-bill-1 fa-2x"></i> Magni Dolores</div>
                       
                        
                            <div class="col-12 col-xxl-3 col-xl-3  col-lg-3 col-md-4 col-sm-12   category-item"> <i style="color: #FFC03C;" class="fa-solid fa-anchor fa-2x"></i> Lorem Ipsum</div>
                            <div class="col-12 col-xxl-3 col-xl-3  col-lg-3 col-md-4 col-sm-12   category-item"><i style="color: #5578FF;" class="fa-solid fa-music fa-2x"></i> Dolor Sitema</div>
                            <div class="col-12 col-xxl-3 col-xl-3  col-lg-3 col-md-4 col-sm-12  category-item"><i style="color: #E80368;" class="fa-solid fa-charging-station fa-2x"></i> Sed perspiciatis</div>
                            <div class="col-12 col-xxl-3 col-xl-3  col-lg-3 col-md-4 col-sm-12   category-item"><i style="color: #E361FF;" class="fa-solid fa-fingerprint fa-2x"></i> Magni Dolores</div>
                        </div>
                        
                    

                
                
            </div>



        </section>
    </main>


    <footer>

        <div class="container">
            <div class="row general-info-row">
                <div class="col-12 col-lg-3 col-md-6 col-sm-12  general-info">
                    <h1 class="company-title">Mentor</h1>
                    <p class="company-location">
                        A108 Adam Street <br>
                        New York, NY 535022 <br>
                        United States
                    </p>
                    <p class="company-number"> <span class="company-number-label">Phone:</span> +1 5589 55488 55 </p>
                    <p class="company-email"> <span class="company-email-label">Email:</span> info@example.com</p>

                </div>
                <div class="col-12 col-lg-2 col-md-6 col-sm-12">

                    <h3 class="info-column-name">Useful Links</h3>

                    <ul class="info-column-list">
                        <li><i class="fa-solid fa-angle-right"></i>Home</li>
                        <li><i class="fa-solid fa-angle-right"></i>About us</li>
                        <li><i class="fa-solid fa-angle-right"></i>Services</li>
                        <li><i class="fa-solid fa-angle-right"></i>Terms of service</li>
                        <li><i class="fa-solid fa-angle-right"></i>Privacy Policy</li>
                    </ul>

                </div>
                <div class="col-12 col-lg-3 col-md-6 col-sm-12">
                    <h3 class="info-column-name">Our Services</h3>

                    <ul class="info-column-list">
                        <li><i class="fa-solid fa-angle-right"></i>Web Design</li>
                        <li><i class="fa-solid fa-angle-right"></i>Web Development</li>
                        <li><i class="fa-solid fa-angle-right"></i>Product Management</li>
                        <li><i class="fa-solid fa-angle-right"></i>Marketing</li>
                        <li><i class="fa-solid fa-angle-right"></i>Graphic Design</li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                    <h3 class="info-column-name">Join Our Newsletter</h3>

                    <span class="info-column-text">
                        Tamen quem nulla quae legam multos aute sint culpa legam noster magna
                    </span>

                    <div class="input-with-action-button">
                        <input class="main-input" type="text">
                        <button class="action-button">Subscribe</button>

                    </div>

                </div>
            </div>

        </div>
        <div class="footer-end">

            <div class="container">
                <div class="row justify-content-between">

                    <div class="col-12 col-lg-8 col-md-8  col-sm-12 author">
                        <span class="copyright-text">© Copyright <strong>Mentor.</strong> All Rights Reserved </span>
                        <span class="author-final-info">Designed by <a
                                class="author-company-link">BootstrapMade</a></span>
                    </div>

                    <div class="col-12 col-lg-4 col-md-4 col-sm-12 footer-links">
                        <a class="fa-stack fa-2.5x">

                            <i class="fa-solid fa-circle fa-stack-2x circle-icon"></i>
                            <i class="fa-brands fa-twitter fa-stack-1x icon"></i>
                        </a>
                        <a class="fa-stack fa-2.5x">

                            <i class="fa-solid fa-circle fa-stack-2x circle-icon"></i>
                            <i class="fa-brands fa-facebook-f fa-stack-1x icon"></i>
                        </a>
                        <a class="fa-stack fa-2.5x">

                            <i class="fa-solid fa-circle fa-stack-2x circle-icon"></i>
                            <i class="fa-brands fa-instagram fa-stack-1x icon"></i>
                        </a>
                        <a class="fa-stack fa-2.5x">

                            <i class="fa-solid fa-circle fa-stack-2x circle-icon"></i>
                            <i class="fa-brands fa-skype fa-stack-1x icon"></i>
                        </a>
                        <a class="fa-stack fa-2.5x">

                            <i class="fa-solid fa-circle fa-stack-2x circle-icon"></i>
                            <i class="fa-brands fa-linkedin-in fa-stack-1x icon"></i>
                        </a>
                    </div>

                </div>
            </div>



        </div>

    </footer>


    <!--  scroll edende kicilmesine gore cox calisdim,cox da vaxt itirdim :-(    -->
    <!-- <script>

        let imageBox = document.querySelector("#image-box");
        imageBox.style.height = "80vh";

        let height = imageBox.style.height;

        window.addEventListener('scroll', () => {
            console.log(window.scrollY);
            if(Number(window.scrollY) % 100 == 0){
                
                 imageBox.style.height = (height.slice(0,height.indexOf("v")) - 10) +"vh";
                 height = height.slice(0,height.indexOf("v")) +"vh";
                 console.log(height);
            }
            

        });
    </script> -->
</body>



</html>