@import "base/reset";
@import "base/typography";
@import "utils/variables";
@import "utils/mixins";
@import "layout/header";
@import "layout/navbar";
@import "pages/hero";
@import "pages/cards";
@import "components/icons";


.background{
    background-image: url(../images/porsche-normal.jpg);
    background-size: cover;
    background-position: 30%;
}
@media screen and (max-width: 991px) {
    .background{
        background-size: cover;
        background-position: center bottom;
    }
    
}




