body {
  background: #43c6ac;
  background: -webkit-linear-gradient(to right, #43c6ac, #191654);
  background: linear-gradient(to right, #43c6ac, #191654);
  font-family: "Open-sans", sans-serif;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.add-text {
  display: flex;
  align-items: center;
}
.inp {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
}
.text {
  flex: 1;
  margin-left: 15px;
}
.delete {
  cursor: pointer;
}

#addButton {
  background: none;
  border: none;
}

#add {
  color: rgb(208, 27, 240);
  font-size: 36px;
  cursor: pointer;
}
.delete {
  border: none;
  background-color: red;
  height: 5vh;
  width: 50px;
}
#deleteButton {
  font-size: 24px;
  color: white;
}
.err {
  display: none;
  color: red;
  font-size: 14px;
}
.allClear {
    background: red;
    padding: 12px 24px;
    background-color: rgb(208, 27, 240);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
