
.zoom-box-hidden{
    overflow: hidden;
}
.img-zoom{
  transition: 0.3s transform;
}
.img-zoom:hover{
transform: scale(1.1,1.1);
}
.card .detail-btn,.card .delete-btn,.card .favourite-btn{
    transition: 0.3s;
}
.card .detail-btn:hover{
    background-color: #596EFC !important;
    color: white !important;
}
.card .delete-btn:hover{
    background-color: #DC3545 !important;
    color: white !important;
}
.card .favourite-btn:hover{
    background-color: #DC3545 !important;
    color: white !important;
}