<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events Page</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header>
        <nav>
    
    
    
            <div class="row justify-content-center nav-main-row">
                <div
                    class="col-8 col-xxl-8 col-xl-10  col-lg-11 col-md-10 col-sm-11   d-flex justify-content-between  nav-row">
                    <h1 class="site-title"><a href="#site-title" class="site-title-link">MENTOR</a></h1>
    
    
                    <div class="menu-started">
    
                        <ul class="d-flex align-items-center site-menu">
                            <li class="site-menu-item">Home</li>
                            <li class="site-menu-item">About</li>
                            <li class="site-menu-item">Courses</li>
                            <li class="site-menu-item">Trainers</li>
                            <li class="site-menu-item">Events</li>
                            <li class="site-menu-item">Pricing</li>
                            <li class="site-menu-item hover-dropdown">Drop Down <i class="fa-solid fa-angle-down"></i>
    
                                <ul class="d-flex flex-column  site-menu dropdown dropdown-vertical">
                                    <li class="dropdown-item">Drop Down 1</li>
                                    <li class="dropdown-item hover-dropdown">Deep Drop Down <i
                                            class="fa-solid fa-angle-right"></i>
    
                                        <ul class="d-flex flex-column  site-menu dropdown dropdown-horizontal">
                                            <li class="dropdown-item">Deep Drop Down 1</li>
                                            <li class="dropdown-item">Deep Drop Down 2
                                            </li>
                                            <li class="dropdown-item">Deep Drop Down 3</li>
                                            <li class="dropdown-item">Deep Drop Down 4</li>
                                            <li class="dropdown-item">Deep Drop Down 5</li>
                                        </ul>
    
                                    </li>
                                    <li class="dropdown-item">Drop Down 2</li>
                                    <li class="dropdown-item">Drop Down 3</li>
                                    <li class="dropdown-item">Drop Down 4</li>
                                </ul>
    
                            </li>
    
                            <li>Contact</li>
                            <li class="get-started-btn-item"> <button class="get-started-btn">Get Started</button>
                                <span class="menu-button">
                                    <i class="fa-solid fa-bars fa-2x menu-icon"></i>
                                </span>
                            </li>
                        </ul>
    
    
    
    
    
    
    
    
                    </div>
    
    
    
                </div>
    
            </div>
    
        </nav>
    </header>
    
    <footer>
    
        <div class="container">
            <div class="row general-info-row">
                <div class="col-12 col-lg-3 col-md-6 col-sm-12  general-info">
                    <h1 class="company-title">Mentor</h1>
                    <p class="company-location">
                        A108 Adam Street <br>
                        New York, NY 535022 <br>
                        United States
                    </p>
                    <p class="company-number"> <span class="company-number-label">Phone:</span> +1 5589 55488 55 </p>
                    <p class="company-email"> <span class="company-email-label">Email:</span> info@example.com</p>
    
                </div>
                <div class="col-12 col-lg-2 col-md-6 col-sm-12">
    
                    <h3 class="info-column-name">Useful Links</h3>
    
                    <ul class="info-column-list">
                        <li><i class="fa-solid fa-angle-right"></i>Home</li>
                        <li><i class="fa-solid fa-angle-right"></i>About us</li>
                        <li><i class="fa-solid fa-angle-right"></i>Services</li>
                        <li><i class="fa-solid fa-angle-right"></i>Terms of service</li>
                        <li><i class="fa-solid fa-angle-right"></i>Privacy Policy</li>
                    </ul>
    
                </div>
                <div class="col-12 col-lg-3 col-md-6 col-sm-12">
                    <h3 class="info-column-name">Our Services</h3>
    
                    <ul class="info-column-list">
                        <li><i class="fa-solid fa-angle-right"></i>Web Design</li>
                        <li><i class="fa-solid fa-angle-right"></i>Web Development</li>
                        <li><i class="fa-solid fa-angle-right"></i>Product Management</li>
                        <li><i class="fa-solid fa-angle-right"></i>Marketing</li>
                        <li><i class="fa-solid fa-angle-right"></i>Graphic Design</li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                    <h3 class="info-column-name">Join Our Newsletter</h3>
    
                    <span class="info-column-text">
                        Tamen quem nulla quae legam multos aute sint culpa legam noster magna
                    </span>
    
                    <div class="input-with-action-button">
                        <input class="main-input" type="text">
                        <button class="action-button">Subscribe</button>
    
                    </div>
    
                </div>
            </div>
    
        </div>
        <div class="footer-end">
    
            <div class="container">
                <div class="row justify-content-between">
    
                    <div class="col-12 col-lg-8 col-md-8  col-sm-12 author">
                        <span class="copyright-text">© Copyright <strong>Mentor.</strong> All Rights Reserved </span>
                        <span class="author-final-info">Designed by <a
                                class="author-company-link">BootstrapMade</a></span>
                    </div>
    
                    <div class="col-12 col-lg-4 col-md-4 col-sm-12 footer-links">
                        <a class="fa-stack fa-2.5x">
    
                            <i class="fa-solid fa-circle fa-stack-2x circle-icon"></i>
                            <i class="fa-brands fa-twitter fa-stack-1x icon"></i>
                        </a>
                        <a class="fa-stack fa-2.5x">
    
                            <i class="fa-solid fa-circle fa-stack-2x circle-icon"></i>
                            <i class="fa-brands fa-facebook-f fa-stack-1x icon"></i>
                        </a>
                        <a class="fa-stack fa-2.5x">
    
                            <i class="fa-solid fa-circle fa-stack-2x circle-icon"></i>
                            <i class="fa-brands fa-instagram fa-stack-1x icon"></i>
                        </a>
                        <a class="fa-stack fa-2.5x">
    
                            <i class="fa-solid fa-circle fa-stack-2x circle-icon"></i>
                            <i class="fa-brands fa-skype fa-stack-1x icon"></i>
                        </a>
                        <a class="fa-stack fa-2.5x">
    
                            <i class="fa-solid fa-circle fa-stack-2x circle-icon"></i>
                            <i class="fa-brands fa-linkedin-in fa-stack-1x icon"></i>
                        </a>
                    </div>
    
                </div>
            </div>
    
    
    
        </div>
    
    </footer>
    
</body>
</html>