.navbar{
   height:8vh;
   background-color: #1089FF;
   width: 100%;
   z-index: 4;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   

   .navbar-menu{
    display: flex;
    padding: 2vh 0;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    list-style-type: none;

    li{

        color: white;
        font-family: "Oswald";
        font-size: 16px;
        font-weight: 700;
    }
    #underline{
       border-bottom: 2px solid white;
    }
   }

}