*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(30, 154, 216);
}
.card{
    width: 20vw;
    height: 40vh;
    border: 10px solid rgba(182, 178, 178, 1);
    background-color: rgba(182, 178, 178, 1);
    border-radius: 20px;
    position: absolute;
    left: 38vw;
    top: 25vh;
}

.card-image{
    width: 100%;
    height: 100%;
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.card-title{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 500;
    top: 72%;
    left: 37%;
}
.card-occupation{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 400;
    top: 78%;
    left: 31%;
}

.card-links{
    position: absolute;
    width: 10vw;
    top: 77%;
    left: 27%;
}
.card-link{
   fill: white;
   width: 2vw;
}
.card-link:hover{ 
    transform: scale(1.2,1.2); /* bilirem kecmemisik ele bele saldim.Qeseng gorunur :-) */
    transition: 1s;
}

.triangle{
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid white;
    left: 47.5vw;
    top: 67vh;

}

.cancel-button{
    position: absolute;
    color: rgb(30, 154, 216);
    padding: 1vh 8.5vw;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2em;
    left: 38.5vw;
    top: 70vh;
}