i{
    margin-left: 10px;
    margin-right: 10px;
}
#menu-icon{
    font-size: 25px;
}
#search-icon{
    font-size: 25px;
}
#user-icon{
    font-size: 25px;
}
@media screen and (max-width: 420px) {
    #menu-icon,#search-icon,#user-icon{
        font-size: 10px;
    }
}
