.card{
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
}
.card .card-image-box{
    
    width: 100%;
    /* padding: 10px; */
    height: 300px;
}
.card .card-image-box .card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 10%;
}
.card .card-title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
.card .card-button{
    display: block;
    width: 120px;
    margin: 20px auto;
    padding: 10px 10px;
    border: none;
    border-radius: 7px;
    transition: 0.2s transform;
}
.card .card-button:hover{
    transform: scale(1.10,1.1);
}
.card .card-edit-button{
  background-color: purple;
  color: white;   
}
.card .card-delete-button{
    background-color: red;
    color: white;   
}
.card .card-add-to-basket-button{
    background-color: rgb(31, 153, 194);
    color: white;
}