<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storage Task(Yagub Aliyev)</title>
</head>
<body>
  

    <!-- Data is ready for retrieving :-) Elnur and Gurban Teacher get ready for magnificent show demonstrated by Yagub -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script type="module" src="../assets/scripts/utils/test.js"></script> -->
</body>
</html>