<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food page</title>
    <link rel="stylesheet" href="../assets/style/base/reset.css">
    <link rel="stylesheet" href="../assets/style/layout/header.css">
    <link rel="stylesheet" href="../assets/style/components/image-zoomer.css">
    <link rel="stylesheet" href="../assets/style/components/customized-buttons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <header>
        <nav>
            <div class="row justify-content-center py-3">
                <div class="col-10">
                    <div class="row justify-content-between  ">
                        <div class="col-3">
                            <div class="nav-logo-box">
                                <i class="fa-brands fa-spotify nav-logo-item"></i>
                                <span class="nav-logo-title">Spotify</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-7">
                                    <ul class="nav-menu">
                                        <li class="nav-menu-item"><a href="" class="nav-menu-item-hyperlink">Singers</a>
                                        </li>
                                        <li class="nav-menu-item"><a href="" class="nav-menu-item-hyperlink">Meals</a>
                                        </li>
                                        <li class="nav-menu-item"><a href="" class="nav-menu-item-hyperlink">Basket</a>
                                        </li>
                                        <li class="nav-menu-item"><a href="wishlist.html"
                                                class="nav-menu-item-hyperlink">Wishlist <b><sup id="wishlist-count"></sup></b> </a></li>
                                    </ul>
                                </div>
                                <div class="col-5">
                                    <div class="d-flex user-operations-buttons">
                                        <button class="btn btn-light mx-2">Login</button>
                                        <button class="btn btn-dark mx-2">Register</button>
                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>


    <main>
        <section>
            <div class="row justify-content-center py-3">

                <div class="col-10">

                    <div class="row justify-content-center">
                        <div class="col-6">
                            <input id="search-meal" type="text" placeholder="search meal" class="form-control">
                        </div>
                        <div class="col-1">
                            <button id="add-meal" class="btn btn-success">Add meal</button>
                        </div>
                    </div>
                    <div class="row justify-content-center my-4">
                        <div class="col-3">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <button id="sort-by-price" class="btn btn-warning">sort by price</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="meal-cards" class="row">
                        


                    </div>
                </div>

            </div>

        </section>
    </main>



    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"
        integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../assets/scripts/header.js"></script>
    <script type="module" src="../assets/scripts/meals.js"></script>
</body>

</html>