<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
    <link rel="stylesheet" href="../assets/style/base/reset.css">
    <link rel="stylesheet" href="../assets/style/layout/header.css">
    <link rel="stylesheet" href="../assets/style/components/image-zoomer.css">
    <link rel="stylesheet" href="../assets/style/components/customized-buttons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    
    <header>
        <nav>
            <div class="row justify-content-center py-3">
                <div class="col-10">
                    <div class="row justify-content-between  ">
                        <div class="col-3">
                            <div class="nav-logo-box">
                                <i class="fa-brands fa-spotify nav-logo-item"></i>
                                <span class="nav-logo-title">Spotify</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-7">
                                    <ul class="nav-menu">
                                        <li class="nav-menu-item"><a href="main.html" class="nav-menu-item-hyperlink">Singers</a>
                                        </li>
                                        <li class="nav-menu-item"><a href="meals.html" class="nav-menu-item-hyperlink">Meals</a>
                                        </li>
                                        <li class="nav-menu-item"><a href="basket.html" class="nav-menu-item-hyperlink">Basket
                                            <b><sup id="basket-count"></sup></b>
                                        </a>
                                        </li>
                                        <li class="nav-menu-item"><a href="wishlist.html"
                                                class="nav-menu-item-hyperlink">Wishlist <b><sup id="wishlist-count"></sup></b> </a></li>
                                    </ul>
                                </div>
                                <div class="col-5">
                                    <div id="user-operations-buttons" class="d-none user-operations-buttons">
                                        <button id="user-login-button" class="btn btn-light mx-2">Login</button>
                                        <button id="user-register-button" class="btn btn-dark mx-2">Register</button>
                                    </div>
                                    <div id="user-loggedin-operations-buttons" class="d-none user-loggedin-operations-buttons">
                                        <button id="user-account-button" class="btn btn-light mx-2">User</button>
                                        <button id="user-logout-button" class="btn btn-dark mx-2"> <i class="fa-solid fa-right-from-bracket"></i> </button>
                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <div class="row justify-content-center py-3">
                <div class="col-10">
                    <div id="user-info-box" class="row">
                        <div class="col-4">
                           <div class="border border-secondary rounded p-4 ">
                           <div id="user-username-box">
                                
                              <h5 id="user-username"></h5>
                                  
                            </div>
                            <div id="user-email-box">
                                
                                <span>EMAIL:</span> <b id="user-email"></b>
                                    
                              </div>
                            <div class="user-password-box">

                                <span>PASSWORD:</span> <b id="user-password"></b>

                            </div>
                            <div id="user-balance-box">

                                <span>BALANCE:</span> <b id="user-balance"></b>

                            </div>
                           </div>
                        </div>
                        <div class="col-8">
                            <h4 class="display-6 text-center text-warning">User Orders</h4>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col-1">#</th>
                                        <th scope="col-2">Total Price</th>
                                        <th scope="col-1">Order Date</th>
                                       
                                    </tr>
                                </thead>
                                <tbody id="users-table-data">
                                    <tr>
                                        <th>1</th>
                                       <td>12000</td>
                                       <td>20th November</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    

                    
                </div>

            </div>
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../assets/scripts/header.js"></script>
    <script type="module" src="../assets/scripts/user.js"></script>
</body>

</html>