.home {

    height: fit-content;


    #image-box {
        position: relative;
        height: 80vh;
        background-image: url(../images/hero-bg.jpg);
        transition: 0.3s height;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        z-index: 3;

        .black-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(11, 10, 10, 0.35);
        }

        .hero-info {
            margin-left: 250px;
            z-index: 2;

            .hero-info-text-bold {
                font-family: "Poppins";
                font-size: 3em;
                font-weight: 700;
                color: #fff;

            }

            .hero-info-text-ordinary {
                font-family: "Raleway";
                color: #eee;
                font-size: 1.5em;
                font-weight: 500;
            }

            .hero-button {
                font-family: "Raleway";
                font-weight: 500;
                margin-top: 30px;
                padding: 12px 40px;
                border: 2px solid white;
                color: white;
                border-radius: 50px;
                background-color: transparent;
                transition-property: background-color, border-color;
                transition-duration: $hero-transition;
            }

            .hero-button:hover {
                background-color: $light-green-color;
                border-color: $light-green-color;
            }
        }

    }

    .advantages {
        padding: 40px 0 80px 0;

        .advantages-title {
            font-family: "Raleway";
            font-size: 26px;
            font-weight: 600;
            color: $home-advantages-text-color;
        }

        .advantages-sub-text {
            font-family: "Open Sans";
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            color: $home-advantages-text-color;
        }

        .advantages-list ul {
            list-style-type: none;

            li {
                margin: 20px 0;

                i {
                    margin: 0 10px 0 0;
                    color: $light-green-color;
                }
            }

        }

        .about-image {
            img {
                max-width: 100%;
            }
        }

    }

    .statistics {
        background-color: $home-statistics-bg-color;
        padding: 50px 0;

        .statistic-data {
            .number {
                color: $light-green-color;
                font-size: 48px;
                font-family: "Open Sans";
                font-weight: 700;
                text-align: center;

            }

            .statistic-data-title {
                color: $home-statistic-data-text-color;
                font-size: 15px;
                font-family: "Raleway";
                font-weight: 600;
                text-align: center;
            }
        }
    }

    .big-logo-cards {

        padding: 50px 0;

        .why-mentor {
            width: 100%;
            height: 100%;
            background-color: $light-green-color;
            padding: 30px;
            color: white;
            border-radius: 5px;

            .why-mentor-title {
                font-family: "Raleway";
                font-weight: 700;
                font-size: 34px;

            }

            .why-mentor-text {
                margin-top: 20px;
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                font-weight: 400;

            }

            .why-mentor-button {
                display: block;
                width: 180px;
                padding: 6px 30px 8px;
                color: white;
                background-color: #7FD999;
                border: none;
                border-radius: 50px;
                margin: 30px auto 10px;
                transition: 0.5s;
            }

            .why-mentor-button:hover {
                background-color: white;
                color: #7FD999;
            }
        }



        .big-logo-card {
            height: 380px;
            margin: 10px 0;
            padding: 20px 0 40px 0;
            border: 1px solid #EEF0EF;

            .logo-sector {
                .full-icon {

                    margin: 20px 0 20px 35%;



                }

                .circle {
                    color: #ECF9F0;
                }

                .icon {
                    color: #5FCF80;
                }
            }

            .card-title {
                font-family: "Raleway";
                font-size: 20px;
                color: #444;
                font-weight: 700;
                text-align: center;
                padding: 10px 25px 20px 25px;
            }

            .card-text {
                padding: 10px 25px;
                color: #848484;
                text-align: center;
            }
        }


    }




}

@media screen and (max-width: 1199px) {
    .logo-sector {
        .full-icon {
            margin-left: 45% !important;
        }
    }
}

@media screen and (max-width: 992px) {
    .advantages-row {
        display: flex;
        flex-direction: column-reverse;
    }
}