.navigation-bar {
    padding: 10px 20vw;
    display: flex;
    justify-content: space-between;


    .navigation-bar-left {
        display: flex;
        padding-top: 10px;

    }

    .logo {
        width: 24.3px;
        height: 25.2px;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .navigation-bar-medium-responsive {
        display: none;
    }



}

.navigation-bar-horizontal {
    flex-direction: row;
}

@media only screen and (max-width: 1697px) {
    .navigation-bar {
        padding-left: 5vw;
        padding-right: 5vw;

        .menu {
            li {
                a {
                    font-size: 9px !important;
                }
            }

        }

    }

}


@media only screen and (max-width: 992px) {
    .navigation-bar {
        padding-left: 10vw;
        padding-right: 10vw;
        .navigation-bar-medium-responsive {
            display: flex;
            width: 100%;
            justify-content: space-between;

            .logo {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

        .navigation-bar-left {
            display: none;
        }

        .option-buttons {
            display: none;
        }

    }

    .navigation-bar:nth-child(2) {
        display: none;
    }

}