* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Porsche Next TT";
  src: url("../fonts/PorscheNextTT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Porsche Next TT";
  src: url("../fonts/PorscheNextTT-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Porsche Next TT";
  src: url("../fonts/PorscheNextTT-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Porsche Next TT";
  src: url("../fonts/PorscheNextTT-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Porsche Next TT";
  src: url("../fonts/PorscheNextTT-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
.navigation-bar {
  height: 50px;
}
.navigation-bar .menu {
  display: flex;
}
.navigation-bar .menu-title {
  font-size: 1.2em;
  color: white;
  transition: 0.3s;
  border-radius: 2px;
}
.navigation-bar .menu-title:hover {
  background-color: rgba(150, 144, 144, 0.731);
}
.navigation-bar .menu-small-devices {
  display: none;
}
.navigation-bar #porsche-image-logo {
  display: none;
}
.navigation-bar .icons-small-devices {
  display: none;
}

@media screen and (max-width: 830px) {
  .navigation-bar .menu {
    display: none;
  }
  .navigation-bar .menu-small-devices {
    display: block;
  }
  .navigation-bar #porsche-name-logo {
    display: none;
  }
  .navigation-bar #porsche-image-logo {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .navigation-bar .icons {
    display: none;
  }
  .navigation-bar .icons-small-devices {
    display: block;
  }
}
.hero {
  height: 840px;
  position: relative;
}

.hero-content {
  position: absolute;
  width: 40%;
  top: 15%;
  left: 10%;
}
.hero-content .hero-content-title {
  font-size: 6vw;
  font-weight: 400;
  color: white;
}
.hero-content .hero-content-button {
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
  transition: 0.3s;
}
.hero-content .hero-content-button:hover {
  background-color: rgba(150, 144, 144, 0.731);
  border-color: rgba(150, 144, 144, 0.731);
}

.pause-button {
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
  position: absolute;
  right: 20px;
  bottom: 200px;
  transition: 0.3s;
}

.pause-button:hover {
  background-color: rgba(150, 144, 144, 0.731);
  border-color: rgba(150, 144, 144, 0.731);
}

@media screen and (max-width: 1200px) {
  .hero-content {
    width: 60%;
  }
}
@media screen and (max-width: 992px) {
  .hero-content {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .hero-content {
    width: 85%;
  }
  .hero-content .hero-content-title {
    font-size: 8vw;
  }
  .hero-content .hero-content-button {
    width: 90%;
  }
}
.cards-horizontal {
  padding-top: 100px;
  padding-bottom: 100px;
}
.cards-horizontal .card-horizontal {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.cards-horizontal .card-horizontal .card-horizontal-image {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s transform;
  object-fit: cover;
  overflow: hidden;
}
.cards-horizontal .card-horizontal:hover .card-horizontal-image {
  transform: scale(1.05, 1.05);
}
.cards-horizontal .card-horizontal .card-horizontal-title {
  position: absolute;
  left: 30px;
  bottom: 30px;
  color: white;
  font-size: 15px;
}
.cards-horizontal .card-horizontal .card-horizontal-open-it-button {
  position: absolute;
  right: 10px;
  bottom: 35px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}
.cards-horizontal .card-horizontal .card-horizontal-open-it-button:hover {
  background-color: rgba(24, 23, 23, 0.731);
}
.cards-horizontal .card-horizontal .card-horizontal-open-it-button:hover i:hover {
  background-color: transparent;
}

i {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  transition: 0.3s background-color;
  border-radius: 2px;
}

i:hover {
  background-color: rgba(150, 144, 144, 0.731);
}

#menu-icon {
  font-size: 25px;
}

#search-icon {
  font-size: 25px;
}

#user-icon {
  font-size: 25px;
}

@media screen and (max-width: 420px) {
  #menu-icon, #search-icon, #user-icon {
    font-size: 10px;
  }
}
.background {
  background-image: url(../images/porsche-normal.jpg);
  background-size: cover;
  background-position: 30%;
}

@media screen and (max-width: 991px) {
  .background {
    background-size: cover;
    background-position: center bottom;
  }
}/*# sourceMappingURL=main.css.map */