<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porsche HOME</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/vendors/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="../assets/vendors/Bootstrap/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <nav class="d-flex m-5 mt-3 justify-content-between navigation-bar">
            <div class="col-4 col-xxl-2 col-xl-2  col-md-2 col-sm-3 p-2">
                <div class="menu">
                    <span >
                        <i id="menu-icon"  class="fa-solid fa-bars"></i>
                    </span>
                    <span class="menu-title">Menu</span>
                </div>

                <div class="menu-small-devices">
                    <span >
                        <i id="menu-icon"  class="fa-solid fa-bars"></i>
                    </span>
                    <i id="search-icon" class="fa-solid fa-magnifying-glass"></i>
                </div>
                
            </div>   
            
            <div class="col-3 p-2">
                <img id="porsche-name-logo" class="w-100" src="../assets/images/porsche-name-logo.png" alt="porsche-name-logo">
                <img id="porsche-image-logo"  src="../assets/images/porsche-img-logo.webp" alt="porsche-image-logo">
                
            </div>

            <div class="col-2 p-2">
                <div class="icons">
                    <i id="search-icon" class="fa-solid fa-magnifying-glass"></i>
                    <i id="user-icon" class="fa-regular fa-user"></i>
                </div>

                <div class="icons-small-devices">
                    <i id="user-icon" class="fa-regular fa-user"></i>
                </div>
                
            </div>


        </nav>
    </header>
</body>
</html>