* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D/K2D-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D/K2D-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D/K2D-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D/K2D-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D/K2D-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D/K2D-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D/K2D-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D/K2D-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D/K2D-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D/K2D-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D/K2D-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D/K2D-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D/K2D-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D/K2D-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D/K2D-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D/K2D-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/K2D/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
.container {
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}
.container-fluid {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

[class|=col] {
  flex: 0 0 auto;
}

@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}
header {
  height: 30vh;
  background-color: #F2F8FB;
}
header .header-container {
  height: 100%;
}
header .header-row {
  height: 100%;
  justify-content: center;
}
header .header-row .title {
  text-align: center;
  font-family: K2D;
  font-weight: 700;
  font-size: 2em;
  color: #292B2C;
}
header .header-row .header-text-row {
  height: 100%;
  justify-content: center;
  align-items: center;
}
header .header-row .text {
  margin-top: 20px;
  font-family: Poppins;
  font-size: 0.875em;
  color: #888;
  padding: 0 30px;
  text-align: justify;
  text-align-last: center;
}

.tours {
  height: 110vh;
  background-color: #F2F8FB;
}
.tours .tours-row {
  column-gap: 20px;
  padding: 0 100px;
  flex-wrap: nowrap;
}
.tours .tours-row:not(.tours-row:first-of-type) {
  margin-top: 20px;
}
.tours .tour-card {
  position: relative;
  background-color: white;
  padding-bottom: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.3s;
  box-shadow: 0px 20px 90px rgb(191, 176, 176);
}
.tours .tour-card .book-button {
  position: absolute;
  left: calc(50% - 62.5px);
  padding: 10px 25px;
  margin: auto;
  background-color: rgb(237, 74, 40);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.9375em;
  opacity: 0;
  transition: 0.7s;
}
.tours .tour-card .black-overlay {
  width: 100%;
  height: 240px;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  border-radius: 8px;
  position: absolute;
  transition: 0.3s;
}
.tours .tour-card:hover .black-overlay {
  opacity: 0.45;
}
.tours .tour-card:hover .book-button {
  transform: translate(0%, 250%);
  opacity: 1;
}
.tours .tour-card .tour-card-image-component {
  width: 100%;
  height: 240px;
}
.tours .tour-card .tour-card-image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}
.tours .tour-card .tour-card-title, .tours .tour-card .tour-card-text, .tours .tour-card .tour-card-details {
  margin: 8px 20px;
}
.tours .tour-card .tour-card-title, .tours .tour-card .tour-card-text {
  font-family: K2D;
  font-size: 24px;
  font-weight: 700;
}
.tours .tour-card .tour-card-text {
  font-family: Poppins;
  font-size: 0.875em;
  color: #646464;
  font-weight: 300;
  text-align: left;
}
.tours .tour-card .tour-card-details {
  border-top: 1px solid #AAAAAA;
  padding-top: 10px;
}
.tours .tour-card .detail-row {
  display: flex;
  justify-content: space-between;
}
.tours .tour-card .tour-card-details-price {
  color: #ff7a58;
  font-family: K2D;
  font-size: 1.5em;
}
.tours .tour-card .tour-card-details .stars {
  width: fit-content;
  margin-top: 5px;
}
.tours .tour-card .tour-card-details .stars .star {
  color: rgb(238, 206, 24);
}
.tours .tour-card .tour-card-details .detail-row .duration {
  font-family: K2D;
  font-size: 0.9375em;
  color: #808080;
}
.tours .tour-card .tour-card-details .detail-row .rating {
  display: block;
  width: 108px;
  text-align: center;
  font-family: K2D;
  font-size: 0.9375em;
  color: #808080;
}
.tours .row.tours-row.laptop {
  display: none;
}
.tours .row.tours-row.mobile {
  display: none;
}
.tours .row.view-tours-button-row {
  justify-content: center;
}
.tours .row.view-tours-button-row button {
  margin-top: 5vh;
  margin-left: 7vw;
  background-color: rgb(237, 74, 40);
  font-size: 1em;
  font-weight: 400;
  font-family: Poppins;
  color: white;
  padding: 10px 50px;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
}
.tours .row.view-tours-button-row button:hover {
  transform: scale(0.94, 0.94);
  background-color: rgba(185, 44, 16, 0.849);
}
@media only screen and (max-width: 992px) {
  .tours .row.tours-row.desktop {
    display: none;
  }
  .tours .row.tours-row.laptop {
    display: flex;
    padding: 0;
    margin: 0;
  }
  .tours {
    height: fit-content;
  }
  .tours .laptop-version {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .tours .row.booking-services {
    display: none;
  }
  .tours .row.booking-services.laptop {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 768px) {
  .tours .row.booking-services .booking-service .info-text {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .tours .row.tours-row.desktop {
    display: none;
  }
  .tours .row.tours-row.laptop {
    display: none;
  }
  .tours .row.tours-row.mobile {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
  }
}

.services {
  height: 70vh;
}
.services .services-container {
  height: 100%;
}
.services .services-row {
  justify-content: center;
  padding-top: 5vh;
}
.services .services-title {
  text-align: center;
  font-family: K2D;
  font-weight: 700;
  font-size: 2em;
  color: #292B2C;
}
.services .services-description {
  margin-top: 20px;
  font-family: "Poppins";
  font-size: 0.875em;
  color: #888;
  padding: 0 30px;
  text-align: justify;
  text-align-last: center;
}
.services .booking-services .booking-service .logo {
  margin-left: 9vw;
  margin-top: 10px;
}
.services .booking-services .booking-service .logo:hover .hotel {
  z-index: 3;
}
.services .booking-services .booking-service .logo .hidden-circle {
  transition: 0.7s;
  transition-timing-function: ease-out;
  border-radius: 50%;
}
.services .booking-services .booking-service .logo:hover .hotel {
  color: white;
}
.services .booking-services .booking-service .logo:hover .hidden-circle {
  display: inline-block;
  position: absolute;
  left: calc(50% - 5px);
  top: calc(50% - 5px);
  width: 10px;
  height: 10px;
  background-color: #FD5A38;
  transform: scale(7.2, 7.2);
}
.services .booking-services .booking-service .circle {
  color: #FD5A38;
}
.services .booking-services .booking-service .hotel {
  color: #FD5A38;
}
.services .booking-services .booking-service .logo-title {
  text-align: center;
  font-family: K2D;
  font-size: 1.4375em;
  font-weight: 400;
  margin-top: 10px;
}
.services .booking-services .booking-service .info-text {
  font-family: K2D;
  font-size: 1em;
  color: #888;
  text-align: center;
  padding: 20px 20px;
}
.services .row.booking-services.laptop {
  display: none;
}/*# sourceMappingURL=main-router.css.map */