@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, li {
  cursor: pointer;
}

*::selection {
  color: white;
  background-color: black;
}

.welcome .welcome-content .welcome-pretext {
  font-family: "Dancing Script", cursive;
  color: #1089FF;
}

.container {
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}
.container-fluid {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

[class|=col] {
  flex: 0 0 auto;
}

@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}
header {
  height: 32vh;
  background-color: #F8F9FA;
}
header .site-header {
  height: 20vh;
  margin: 0 300px;
  padding: 3vh 0;
  display: flex;
  justify-content: center;
}
header .site-header .site-info-bar {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
header .site-header .site-info-bar .full-icon {
  height: 100px;
}
header .site-header .site-info-bar .circle {
  color: #1089FF;
}
header .site-header .site-info-bar .icon {
  color: white;
}
header .site-header .site-info-bar .site-info-content .site-info-title {
  font-family: "Oswald";
  font-size: 19.2px;
  font-weight: 500;
}
header .site-header .site-info-bar .site-info-content .site-info-text {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 300;
}

.navbar {
  height: 12vh;
  background-color: #1089FF;
}
.navbar .navbar-menu {
  display: flex;
  padding: 5vh 0;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.navbar .navbar-menu li {
  color: white;
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 700;
}
.navbar .navbar-menu #underline {
  border-bottom: 2px solid white;
}

.hero {
  height: 90vh;
  background-image: url(../images/hero_2.jpg.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.hero .slider-button {
  opacity: 0;
  transition: 1s;
  position: absolute;
  top: 30%;
  z-index: 3;
}
.hero .slider-button .full-icon {
  color: white;
  transition: 0.4s;
}
.hero .slider-button .full-icon .icon {
  color: black;
}
.hero .slider-button .full-icon:hover {
  color: #1089FF;
}
.hero .slider-button .full-icon:hover .icon {
  color: white;
}
.hero .slider-button.left {
  left: 10px;
}
.hero .slider-button.right {
  right: 10px;
}
.hero .black-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 12, 12, 0.4);
}
.hero .hero-content {
  width: 35vw;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-290px);
}
.hero .hero-content .hero-content-title {
  font-family: "Oswald";
  font-size: 48px;
  font-weight: 400;
  color: white;
  text-align: center;
}
.hero .hero-content .hero-content-text {
  font-family: "Mulish";
  font-size: 17.6px;
  font-weight: 300;
  color: white;
  text-align: center;
}
.hero .hero-content .hero-content-text::first-line {
  text-align: left;
}
.hero .hero-content .hero-content-button {
  background-color: #1089FF;
  color: white;
  padding: 16px 48px;
  display: block;
  border: none;
  border-radius: 2px;
  margin: 20px auto;
  font-family: "Oswald";
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  transition: 0.6s;
}
.hero .hero-content .hero-content-button:hover {
  background-color: rgb(13, 111, 209);
}

.hero:hover .slider-button {
  opacity: 1;
}

.welcome .welcome-row {
  padding: 100px 450px;
}
.welcome .welcome-image img {
  width: 100%;
  height: 100%;
}
.welcome .welcome-content {
  padding-left: 20px;
}
.welcome .welcome-content .welcome-pretext {
  font-size: 17.6px;
}
.welcome .welcome-content .welcome-title {
  font-size: 28px;
  font-family: "Oswald";
}
.welcome .welcome-content .welcome-text {
  margin-top: 20px;
  font-size: 17.6px;
  font-family: "Mulish";
  font-weight: 300;
  color: #808080;
}
.welcome .welcome-content .welcome-button-part .welcome-button {
  background-color: #1089FF;
  color: white;
  padding: 16px 48px;
  display: block;
  border: none;
  border-radius: 2px;
  margin: 20px auto;
  font-family: "Oswald";
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  transition: 0.6s;
  margin-left: 0;
  padding: 20px 50px;
}
.welcome .welcome-content .welcome-button-part .welcome-button:hover {
  background-color: rgb(13, 111, 209);
}
.welcome .welcome-content .line {
  margin: 30px 0;
  width: 70px;
  height: 2px;
  background-color: #1089FF;
}

.advantages .advantages-row {
  padding: 0px 450px 100px;
}
.advantages .advantages-row .advantage .advantage-logo i {
  color: #1089FF;
}
.advantages .advantages-row .advantage .advantage-title {
  margin-top: 2vh;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: 400;
}
.advantages .advantages-row .advantage .advantage-text {
  font-family: "Mulish";
  font-size: 17.6px;
  font-weight: 300;
  color: gray;
}/*# sourceMappingURL=main.css.map */