@mixin hoveredSkyButton{
    background-color: $sky-color;
    color: white;
    padding: 16px 48px;
    display: block;
    border: none;
    border-radius: 2px;
    margin: 20px auto;
    font-family: "Oswald";
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
    transition: 0.6s;
}