@font-face {
    font-family: 'CocoSharp Trial';
    src: url('../fonts/CocoSharpTrial-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('../fonts/CocoSharpTrial-ExtraboldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('../fonts/CocoSharpTrial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('../fonts/CocoSharpTrial-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('../fonts/CocoSharpTrial-Extrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('../fonts/CocoSharpTrial-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('../fonts/CocoSharpTrial-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('../fonts/CocoSharpTrial-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('../fonts/CocoSharpTrial-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('../fonts/CocoSharpTrial-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('../fonts/CocoSharpTrial-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('../fonts/CocoSharpTrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

